div.row-fluid
  h1.page-header
    | The Elevator Pitch
    small For the lazy and impatient.

  p
    code ng-boilerplate
    | &nbsp; is an opinionated kickstarter for web
    | development projects. It's an attempt to create a simple starter for new
    | web sites and apps: just download it and start coding. The goal is to
    | have everything you need to get started out of the box; of course it has
    | slick styles and icons, but it also has a best practice directory structure
    | to ensure maximum code reuse. And it's all tied together with a robust
    | build system chock-full of some time-saving goodness.

  h2 Why?

  p
    | Because my team and I make web apps, and 
    | last year AngularJS became our client-side framework of choice. We start
    | websites the same way every time: create a directory structure, copy and
    | ever-so-slightly tweak some config files from an older project, and yada
    | yada, etc., and so on and so forth. Why are we repeating ourselves? We wanted a starting point; a set of
    | best practices that we could identify our projects as embodying and a set of
    | time-saving wonderfulness, because time is money.
  
  h2 The Tactical To Do List

  p
    | There isn't much of a demonstration of UI Bootstrap. I don't want to pollute
    | the code with a demo for demo's sake, but I feel we should showcase it in
    i some
    | &nbsp; way.

  p
    code ng-boilerplate
    | &nbsp; should include end-to-end tests. This should
    | happen soon. I just haven't had the time.

  p
    | Lastly, this site should be prettier, but I'm no web designer. Throw me a
    | bone here, people!

  h2 Can I Help?

  p Yes, please!

  p
    | This is an opinionated kickstarter, but the opinions are fluid and
    | evidence-based. Don't like the way I did something? Think you know of a
    | better way? Have an idea to make this more useful? Let me know! You can
    | contact me through all the usual channels or you can open an issue on the
    | GitHub page. If you're feeling ambitious, you can even submit a pull
    | request - how thoughtful of you!

  p So join the team! We're good people.

